.header {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 0 30px;
}

.logo {
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 60px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  color: var(--orange-color);
}

nav .item .nav-link {
  margin: 0 17px;
  font-size: 21px;
  font-weight: 500;
  color: var(--primary-text-color);
}

nav .item .nav-link i {
  margin-right: 4px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.item .nav-link:hover {
  color: rgb(80, 5, 150);
}
.nav-menu {
  display: none;
}
@media (max-width: 720px) {
  .header {
    justify-content: space-between;
  }

  .nav-list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: white;
    padding-left: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    transition: all 1s ease;
    transition: all 0.8s ease;
  }
  
  .nav-list.open {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .nav-list.closed {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  nav .item .nav-link {
    margin: 0;
  }

  .nav-menu {
    display: block;
    font-size: 40px;
    cursor: pointer;
  }
}
